# Extremwertermittlung
Es soll die Anzahl und Verteilung von extremen Grundwasserstandsänderungen untersucht werden.

Als extrem zählen dabei die 5% stärksten Anstiege und 5% stärksten Abstiege pro Station.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
data_drive = r'G:/'

In [3]:
stammdaten = pd.read_excel(data_drive +r'GruV-Net/data/Stammdaten_HE.xlsx')
stammdaten.set_index('Proj_ID', inplace=True)
gw_lvl = pd.read_csv(data_drive +r'GruV-Net/data/groundwater_levels_preprocessed_hesse/weekly/gw_lvl_complete.csv')
gw_lvl.Datum = pd.to_datetime(gw_lvl.Datum)
gw_lvl.set_index('Datum', inplace=True)

In [4]:
gw_lvl

,HE_10007,HE_10021,HE_10022,HE_10023,HE_10025,HE_10026,HE_10034,HE_10041,HE_10042,HE_10047,...,HE_9957,HE_9958,HE_9959,HE_9961,HE_9969,HE_9974,HE_9977,HE_9980,HE_9984,HE_9987
Datum,,,,,,,,,,,,,,,,,,,,,
1911-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911-04-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gw_lvl.index.date

array([datetime.date(1911, 4, 10), datetime.date(1911, 4, 17),
       datetime.date(1911, 4, 24), ..., datetime.date(2018, 11, 12),
       datetime.date(2018, 11, 19), datetime.date(2018, 11, 26)],
      dtype=object)

In [31]:
gw_lvl = gw_lvl.loc['2008-01-01':'2018-01-01'] #nur der relevante zeitraum 2008-2017
gw_change = gw_lvl.diff(periods=4).dropna(axis=1, how='all')
gw_change

,HE_10007,HE_10021,HE_10022,HE_10025,HE_10042,HE_10047,HE_10054,HE_10072,HE_10074,HE_10082,...,HE_9837,HE_9867,HE_9894,HE_9899,HE_9913,HE_9958,HE_9959,HE_9961,HE_9974,HE_9987
Datum,,,,,,,,,,,,,,,,,,,,,
2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-04,-0.06,0.196667,0.346667,0.146667,0.100,0.520,0.233333,0.560,0.176667,0.213333,...,0.22,0.096667,0.09,-0.14,0.34,0.816667,0.440,NaN,0.113333,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-05,NaN,NaN,-0.305000,-0.070000,-0.275,0.095,0.060000,0.115,0.050000,0.010000,...,0.06,NaN,-0.17,NaN,0.06,0.035000,0.225,-0.01,0.135000,NaN
2016-12-12,NaN,NaN,-0.560000,-0.050000,-0.090,-0.050,-0.140000,-0.080,-0.060000,-0.060000,...,-0.04,NaN,-0.27,NaN,-0.08,-0.300000,0.130,-0.01,0.000000,NaN
2016-12-19,NaN,NaN,-0.410000,-0.010000,0.020,-0.040,-0.100000,-0.090,-0.080000,-0.060000,...,-0.04,NaN,-0.22,NaN,-0.05,0.000000,0.120,0.01,-0.090000,NaN
2016-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
gw_change.describe()

,HE_10007,HE_10021,HE_10022,HE_10025,HE_10042,HE_10047,HE_10054,HE_10072,HE_10074,HE_10082,...,HE_9837,HE_9867,HE_9894,HE_9899,HE_9913,HE_9958,HE_9959,HE_9961,HE_9974,HE_9987
count,69.000000,131.000000,334.000000,346.000000,332.000000,307.000000,346.000000,346.000000,340.000000,346.000000,...,202.000000,317.000000,346.000000,223.000000,346.000000,338.000000,338.000000,317.000000,334.000000,56.000000
mean,-0.003986,0.006997,-0.002650,0.003757,0.007410,0.010966,0.005491,0.013764,0.003059,0.005592,...,0.019233,0.006371,0.009114,-0.004460,0.008911,0.008119,0.019231,0.006215,0.010734,0.015804
std,0.125078,0.134635,0.625051,0.111615,0.207908,0.162187,0.161903,0.207541,0.138696,0.101232,...,0.347579,0.175226,0.244314,0.403756,0.218329,0.489218,0.337430,0.078715,0.149658,0.153944
min,-0.330000,-0.340000,-2.490000,-0.490000,-0.780000,-0.850000,-0.490000,-0.730000,-1.107500,-0.540000,...,-1.875000,-0.820000,-1.030000,-1.110000,-0.840000,-2.095000,-1.480000,-0.240000,-0.600000,-0.290000
25%,-0.080000,-0.065000,-0.267500,-0.050000,-0.132500,-0.070000,-0.090000,-0.090000,-0.040000,-0.050000,...,-0.150000,-0.085000,-0.140000,-0.231667,-0.080000,-0.227500,-0.150000,-0.035000,-0.070000,-0.082500
50%,-0.020000,0.000000,-0.010000,0.010000,0.007500,0.000000,0.000000,-0.010000,-0.005833,-0.005000,...,-0.015000,0.002500,-0.005000,0.000000,-0.020000,-0.010000,0.020000,0.005000,0.000000,-0.015000
75%,0.070000,0.070000,0.290000,0.060000,0.130000,0.090000,0.090000,0.110000,0.046250,0.060000,...,0.160000,0.110000,0.147500,0.185000,0.098750,0.261875,0.200000,0.050000,0.077500,0.092500
max,0.295000,0.475000,2.230000,0.430000,0.740000,0.765000,0.670000,1.165000,1.420000,0.550000,...,1.590000,0.700000,0.800000,1.300000,1.250000,2.050000,1.090000,0.220000,0.660000,0.400000

In [33]:
print('Mean Anz. an Werten: ', gw_change.count().mean())
print('Max. Anz. an Werten: ', gw_change.count().max())
print('Min. Anz. an Werten: ', gw_change.count().min())
print('Gesamt Anz. an Werten: ', gw_change.count().sum())

Mean Anz. an Werten:  309.6078651685393
Max. Anz. an Werten:  346
Min. Anz. an Werten:  19
Gesamt Anz. an Werten:  275551

In [34]:
fifth_percentile = gw_change.quantile(0.05)
ninetyfifth_percentile = gw_change.quantile(0.95)

In [35]:
fifth_percentile

HE_10007   -0.16900
HE_10021   -0.20500
HE_10022   -1.10700
HE_10025   -0.17000
HE_10042   -0.28450
             ...
HE_9958    -0.70150
HE_9959    -0.51075
HE_9961    -0.14000
HE_9974    -0.19000
HE_9987    -0.18875
Name: 0.05, Length: 890, dtype: float64

In [36]:
gw_xtreme = gw_change.copy()
for column in gw_change:
    gw_xtreme[column] = gw_xtreme[column].mask(gw_xtreme[column] < fifth_percentile[column], -1)
    gw_xtreme[column] = gw_xtreme[column].mask(gw_xtreme[column] > ninetyfifth_percentile[column], 1)
    gw_xtreme[column] = gw_xtreme[column].mask((gw_xtreme[column] != -1)&(gw_xtreme[column] != 1)&(gw_xtreme[column].notna()), 0)

In [37]:
gw_xtreme

,HE_10007,HE_10021,HE_10022,HE_10025,HE_10042,HE_10047,HE_10054,HE_10072,HE_10074,HE_10082,...,HE_9837,HE_9867,HE_9894,HE_9899,HE_9913,HE_9958,HE_9959,HE_9961,HE_9974,HE_9987
Datum,,,,,,,,,,,,,,,,,,,,,
2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-04,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-05,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2016-12-12,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2016-12-19,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN
2016-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
xtreme_counts = gw_xtreme.apply(pd.Series.value_counts)
xtreme_counts

,HE_10007,HE_10021,HE_10022,HE_10025,HE_10042,HE_10047,HE_10054,HE_10072,HE_10074,HE_10082,...,HE_9837,HE_9867,HE_9894,HE_9899,HE_9913,HE_9958,HE_9959,HE_9961,HE_9974,HE_9987
-1.0,4,7,18,17,17,15,18,18,17,18,...,11,16,17,12,18,17,17,13,16,3
0.0,61,117,298,311,299,276,310,310,306,310,...,180,285,311,199,310,304,304,288,302,51
1.0,4,7,18,18,16,16,18,18,17,18,...,11,16,18,12,18,17,17,16,16,2

In [39]:
xtreme_counts.mean(axis=1)

-1.0     15.839326
 0.0    277.897753
 1.0     15.870787
dtype: float64

In [40]:
xtreme_counts.sum(axis=1)

-1.0     14097
 0.0    247329
 1.0     14125
dtype: int64

---
## ohne anthropogen beeinflusste Stationen

In [41]:
good_stations = pd.read_csv(data_drive + r'GruV-Net/data/anthropogen-unbeeinflusste-Messstellen/HE_complete.csv', header=0).ProjID.tolist()
gw_lvl_dropped = gw_lvl[good_stations].loc['2008-01-01':'2017-01-01']
gw_change_dropped = gw_lvl_dropped.diff(periods=4).dropna(axis=1, how='all')
gw_change_dropped

,HE_9523,HE_10223,HE_8872,HE_10225,HE_9482,HE_8883,HE_10214,HE_9518,HE_10224,HE_10291,...,HE_6770,HE_8496,HE_8890,HE_7945,HE_6363,HE_8999,HE_8957,HE_6362,HE_15651,HE_6156
Datum,,,,,,,,,,,,,,,,,,,,,
2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-04,NaN,0.353333,0.313333,1.113333,0.850,0.765,0.133333,0.243333,0.316667,0.133333,...,0.51,0.343333,0.186667,-0.066667,0.056667,1.383333,0.790,0.123333,1.296667,0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-05,0.24,-0.020000,0.045000,-0.050000,0.215,0.220,0.040000,-0.005000,0.150000,0.040000,...,NaN,0.235000,NaN,0.285000,-0.005000,0.625000,0.475,0.010000,0.225000,-0.110000
2016-12-12,-0.15,-0.150000,-0.360000,-0.310000,-0.520,-0.060,0.020000,-0.070000,-0.080000,-0.040000,...,NaN,-0.490000,NaN,-0.090000,0.000000,-0.200000,-0.190,-0.020000,-0.080000,-0.120000
2016-12-19,-0.19,-0.180000,-0.310000,-0.380000,-0.260,-0.050,0.010000,-0.080000,-0.120000,-0.040000,...,NaN,-0.380000,NaN,-0.310000,0.010000,-0.200000,-0.340,0.010000,-0.050000,-0.060000
2016-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
print('Mean Anz. an Werten: ', gw_change_dropped.count().mean())
print('Max. Anz. an Werten: ', gw_change_dropped.count().max())
print('Min. Anz. an Werten: ', gw_change_dropped.count().min())
print('Gesamt Anz. an Werten: ', gw_change_dropped.count().sum())

Mean Anz. an Werten:  322.70212765957444
Max. Anz. an Werten:  346
Min. Anz. an Werten:  76
Gesamt Anz. an Werten:  106169

In [43]:
fifth_percentile_dropped = gw_change_dropped.quantile(0.05)
ninetyfifth_percentile_dropped = gw_change_dropped.quantile(0.95)

In [45]:
gw_xtreme_dropped = gw_change_dropped.copy()
for column in gw_change_dropped:
    gw_xtreme_dropped[column] = gw_xtreme_dropped[column].mask(gw_xtreme_dropped[column] < fifth_percentile_dropped[column], -1)
    gw_xtreme_dropped[column] = gw_xtreme_dropped[column].mask(gw_xtreme_dropped[column] > ninetyfifth_percentile_dropped[column], 1)
    gw_xtreme_dropped[column] = gw_xtreme_dropped[column].mask((gw_xtreme_dropped[column] != -1)&(gw_xtreme_dropped[column] != 1)&(gw_xtreme_dropped[column].notna()), 0)

In [46]:
gw_xtreme_dropped

,HE_9523,HE_10223,HE_8872,HE_10225,HE_9482,HE_8883,HE_10214,HE_9518,HE_10224,HE_10291,...,HE_6770,HE_8496,HE_8890,HE_7945,HE_6363,HE_8999,HE_8957,HE_6362,HE_15651,HE_6156
Datum,,,,,,,,,,,,,,,,,,,,,
2008-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-04,NaN,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-12-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-12-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
xtreme_counts_dropped = gw_xtreme_dropped.apply(pd.Series.value_counts)
xtreme_counts_dropped

,HE_9523,HE_10223,HE_8872,HE_10225,HE_9482,HE_8883,HE_10214,HE_9518,HE_10224,HE_10291,...,HE_6770,HE_8496,HE_8890,HE_7945,HE_6363,HE_8999,HE_8957,HE_6362,HE_15651,HE_6156
-1.0,17,18,18,17,18,16,18,18,17,18,...,14,18,14,18,18,19,18,16,15,18
0.0,290,311,310,302,310,284,311,310,300,310,...,278,312,246,310,310,309,290,273,260,310
1.0,16,17,18,17,18,16,17,18,17,18,...,16,16,12,18,18,18,18,16,16,18

In [48]:
xtreme_counts_dropped.mean(axis=1)

-1.0     16.559271
 0.0    289.534954
 1.0     16.607903
dtype: float64

In [49]:
xtreme_counts_dropped.sum(axis=1)

-1.0     5448
 0.0    95257
 1.0     5464
dtype: int64